.create-dao-main {
  width: 100%;
  min-width: 90vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  // align-items: center
  flex-direction: row;
  padding: 20px 0px;
  margin: 0 auto;

  .left-div {
    // border: 1px solid #f3f2f2;
    width: 30%;
    margin-left: 20px;
    // min-height: 90vh;
    // max-height: 90vh;
    padding: 40px 0px;
    border-radius: 20px;
    // background: #fefcfc;
    background-color: rgb(21, 22, 25);
    color: rgb(255, 255, 255);
    transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
    box-shadow: none;
    border: 1px solid rgb(45, 45, 45);
    background-image: linear-gradient(
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-div {
    // border: 1px solid black;
    width: 80%;
    // min-height: 90vh;
    text-align: center;
    padding: 0px 20px;
    background-color: #000000;

    .create-dao-info-main {
      border-radius: 20px;
      // background: #fefcfc;
      color: #ffffff;
      // box-shadow: 10px 10px 60px #bebebe, -20px -20px 60px #ffffff;
      border: 1px solid rgb(45, 45, 45);
      border-radius: 20px;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.03) 0%,
        rgba(255, 255, 255, 0.03) 100%
      );
      background-color: rgb(21, 22, 25);
      width: 100%;
      max-width: 1200px;
      min-height: 500px;
      padding: 20px 0px;
      // border: 1px solid black;
      // border-radius: 10px;
      margin: 0px auto;

      h1 {
        color: #1976d2;
        // padding: 40px 0px;
        padding-top: 0px;
        padding-bottom: 0px;
      }
      .create-dao-info-input-parent {
        width: 80%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 0px;

        .create-dao-info-input-child {
          width: 70%;
          input {
            margin: 30px 0px;
            padding: 20px;
            width: 100%;
            font-size: 1.1rem;
            background: #fefcfc;
            border: none;
            border-radius: 10px;
            background-color: rgb(21, 22, 25);
            color: rgb(255, 255, 255);
            transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
              rgba(0, 0, 0, 0.23) 0px 0px 3px -2px,
              rgba(0, 0, 0, 0.17) 0px 0px 25px;
            background-image: linear-gradient(
              rgba(255, 255, 255, 0.09),
              rgba(255, 255, 255, 0.09)
            );
            // box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          }
          textarea {
            margin: 30px 0px;
            font-size: 1.1rem;
            width: 100%;
            padding: 20px;
            resize: none;
            // background: #fefcfc;
            border: none;
            border-radius: 10px;
            background-color: rgb(21, 22, 25);
            color: rgb(255, 255, 255);
            transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
              rgba(0, 0, 0, 0.23) 0px 0px 3px -2px,
              rgba(0, 0, 0, 0.17) 0px 0px 25px;
            background-image: linear-gradient(
              rgba(255, 255, 255, 0.09),
              rgba(255, 255, 255, 0.09)
            );
            // box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          }
        }
      }
      .create-dao-voting-inside {
        width: 80%;
        margin: 0px auto;
        padding: 10px 0px;
        h3.voting-slider-title {
          margin: 15px 0px;
          text-align: left;
          width: 100%;
        }
        .slider-parent {
          display: flex;
          justify-content: space-between;
          align-items: center;
          // width: 80%;
          // background: #fefcfc;
          padding: 10px 30px;
          background-color: rgb(21, 22, 25);
          color: rgb(255, 255, 255);
          transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
            rgba(0, 0, 0, 0.23) 0px 0px 3px -2px,
            rgba(0, 0, 0, 0.17) 0px 0px 25px;
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.09),
            rgba(255, 255, 255, 0.09)
          );
          // box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          border-radius: 10px;
        }
        span.display-vote {
          border: 1px solid #1976d2;
          padding: 10px 40px;
          border-radius: 10px;
          background-color: #1976d2;
          color: #ffffff;
        }
        input.display-vote-period {
          border: 1px solid #1976d2;
          padding: 10px;
          background-color: #fefcfc;
          border-radius: 10px;
          width: 30%;
          font-size: 1.1rem;
          background-color: rgb(21, 22, 25);
          color: rgb(255, 255, 255);
          transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
            rgba(0, 0, 0, 0.23) 0px 0px 3px -2px,
            rgba(0, 0, 0, 0.17) 0px 0px 25px;
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.09),
            rgba(255, 255, 255, 0.09)
          );
          // margin: 0px 10px;
        }
      }

      .create-dao-token-config-parent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        margin: 10px auto;
        h3 {
          text-align: left;
          margin: 15px 0px;
          position: inherit;
          z-index: 5;
        }
        input {
          padding: 10px;
          margin-right: 20px;
          background-color: #fefcfc;
          box-shadow: none;
          font-size: 1.1rem;
          border: 1px solid rgb(21, 22, 25);
          background-color: rgb(21, 22, 25);
          color: rgb(255, 255, 255);
          transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
            rgba(0, 0, 0, 0.23) 0px 0px 3px -2px,
            rgba(0, 0, 0, 0.17) 0px 0px 25px;
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.09),
            rgba(255, 255, 255, 0.09)
          );
          // box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
          border-radius: 10px;
        }
        .token-config-child-1 {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin: 10px 0px;
        }
        .token-config-child-2 {
          display: flex;
          flex-direction: column;
          width: 30%;
          margin: 10px 0px;
        }
      }
      .review-main {
        width: 80%;
        margin: 20px auto;
        // padding: 0px 30px;
        .css-qzmcqv-MuiPaper-root-MuiAccordion-root:last-of-type {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
        }
      }
      .create-dao-back-next-parent {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 20px auto;
        padding: 0px 30px;

        button {
          padding: 10px 40px;
          font-size: 1.1rem;
          border-radius: 10px;
          cursor: pointer;
          max-width: 60%;
        }
        button:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
        button.create-dao-back {
          background-color: #fefcfc;
          border: 1px solid #1976d2;
          color: #1976d2;
          background-color: rgb(21, 22, 25);
          color: rgb(255, 255, 255);
          transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
            rgba(0, 0, 0, 0.23) 0px 0px 3px -2px,
            rgba(0, 0, 0, 0.17) 0px 0px 25px;
          background-image: linear-gradient(
            rgba(255, 255, 255, 0.09),
            rgba(255, 255, 255, 0.09)
          );
        }
        button.create-dao-next {
          background-color: #1976d2;
          border: 1px solid #1976d2;
          color: #ffffff;
        }
        button.launch-dao {
          background-color: #f14c2c;
          border: 1px solid #f14c2c;
          color: #ffffff;
        }
      }
    }
  }
}

span.step-label {
  // background-color: #e0e0e0;
  background-color: rgb(21, 22, 25);

  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
    rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
}
span.css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color: #ffffff;
}

.dark-background {
  background-color: rgb(21, 22, 25);
  color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.55, 0, 0.1, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
    rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
}
