.verify-product-main {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
    rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
  background: #1a1156;
  border-radius: 20px;
  height: 20vh;
  padding: 20px;
}
.verify-product-main-div {
 padding-top: 10%;
}
.shape1-product img {
  width: 100%;
  top: -24%;
  z-index: -1;
  position: absolute;
}
.bubble3 .header-shape-product{
  position: absolute;
    bottom: 0;
    right: 20%;
    top: 20%;
}
.bubble4 .header-shape-product{
  position: absolute;
    top: 20%;
    left: 10%;
}
#treeWrapper{
  width: 80% !important;
    height: 100vh ;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    max-width: 1000px;
}
.rd3t-tree-container {
position: relative;
 
}
.rd3t-svg {
position: absolute;
top: 10%;
left: 0;
right: 0;

}
// g.rd3t-g {
//   transform: translate(300px, 50px) scale(1, 1) !important;
// }
@media only screen and (max-width: 1024px) {
  .tree-container {
    height: 300px;
  }
  .verify-product-main-div {
    position: relative;
    top: 150px;
  }

  .verify-product-main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
      rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
    background: #1a1156;
    border-radius: 20px;
    height: 30vh;
    padding: 20px;
  }

}

@media only screen and (max-width: 768px) {
  .tree-container {
    height: 300px;
  }
  .verify-product-main-div {
    position: relative;
    top: 150px;
  }

  .verify-product-main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
      rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
    background: #1a1156;
    border-radius: 20px;
    height: 30vh;
    padding: 20px;
  }

}
@media only screen and (max-width: 425px) {
  .tree-container {
    height: 300px;
  }
  .verify-product-main-div {
    position: relative;
    top: 150px;
  }

  .verify-product-main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px,
      rgba(0, 0, 0, 0.23) 0px 0px 3px -2px, rgba(0, 0, 0, 0.17) 0px 0px 25px;
    background: #1a1156;
    border-radius: 20px;
    height: 30vh;
    padding: 20px;
  }
  g.rd3t-g {
    transform: translate(117.554px, 99.1062px) scale(0.574349, 0.574349) ;
  }
  #treeWrapper{
    width: 100% !important;
      height: 100vh ;
      /* margin: 0 auto; */
      padding: 20px;
      text-align: center;
      max-width: 1000px;
  }

}